* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CC0000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
